<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <link rel="stylesheet" href="css/aboutUs.style.css">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Goblin+One&family=Playfair+Display:ital@1&display=swap"
        rel="stylesheet">
    
    <script src="https://kit.fontawesome.com/yourcode.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    {{!-- <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"> --}}

    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Viaoda+Libre&display=swap" rel="stylesheet">


<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Viaoda+Libre&display=swap" rel="stylesheet">


<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Viaoda+Libre&display=swap" rel="stylesheet">

</head>
<body>
    <section class="header">
        <nav>
            <a href="./"><img src="images/logo.png" alt="artist_r_k_" style="border-radius: 20px;"> </a>
            <div class="nav-links" id="navlinks">
                

                <ul>
                    <li><a href="./">HOME</a></li>
                    <li><a href="./about_us">ABOUT US</a></li>
                    <li><a href="./contact">CONTACT US</a></li>
                    <li><a href="./gallery">MEDIA</a></li>
                </ul>
            </div>
           

        </nav>


        <div class="wrapper">
            <h1>Rushi Gudade</h1>
            <h2>Professional Sketch Artist</h2>
            <div class ="Testimonial">
                  <img src="images/img_avatar.png" alt="Photograph Of Me">
            </div>
            <p>
                 "Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
                  Ducimus ratione odio repellat dicta cupiditate,
                  aliquam, rem officia, ipsa unde obcaecati asperiores facere vitae cum corrupti quibusdam labore atque quasi sequi explicabo deserunt!
                  Ab cum laboriosam illo est eos pariatur quia rerum minima?"
            </p>
            <a href="#" class="btn">Get In Touch</a>       
        </div>
    
    </section>
    
    









    <!------------------------------------services 2nd section ----------------------------------------->
    {{!-- <section>
        <div class="icon">
            <a href="#" class="facebook"> <i class="fab fa-facebook-f"></i> </a>
            <a href="https://www.instagram.com/artist_r_k_/" class="instagram"> <i class="fab fa-instagram"></i></a>
            <a href="#" class="twitter"> <i class="fab fa-twitter"></i> </a>
        </div>
    </section> --}}

    <!-- -------------------------footer---------------------- -->
    <footer>
        <div class="footer-content">
            <h3>Connect With Us</h3>
            <p>“All you need to paint is a few tools, a little instruction, and a vision in your mind.”  - Bob Ross</p>
            <ul class="socials">
                <li><a href="#"><i class="fa fa-facebook" ></i></a></li>
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                <li><a href="#"><i class="fa fa-linkedin-square"></i></a></li>
            </ul>
        </div>
        <div class="footer-bottom">
            <p>copyright &copy; 2021 ArtistRK</p>
        </div>
    </footer>

    



    
</body>
</html>