<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gallery</title>
    <link rel="stylesheet" href="css/gallery.style.css">


   
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Goblin+One&family=Playfair+Display:ital@1&display=swap"
        rel="stylesheet">
    
    <script src="https://kit.fontawesome.com/yourcode.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    {{!-- <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"> --}}
    


</head>
<body>
    <section class="sub-header">
        <nav>
            <a href="/"><img src="images/logo.png" alt="artist_r_k_" style="border-radius: 20px;"> </a>
            <div class="nav-links" id="navlinks">
                

                <ul>
                    <li><a href="./">HOME</a></li>
                    <li><a href="./about_us">ABOUT US</a></li>
                    <li><a href="./contact">CONTACT US</a></li>
                    <li><a href="./gallery">MEDIA</a></li>
                </ul>
            </div>
            

        </nav>

        {{!-- <section> 
            <div class="icon">
                <a href="#" class="facebook"> <i class="fab fa-facebook-f"></i> </a>
                <a href="https://www.instagram.com/artist_r_k_/" class="instagram"> <i class="fab fa-instagram"></i></a>
                <a href="#" class="twitter"> <i class="fab fa-twitter"></i> </a>
            </div>
        </section>  --}}



    




    <input type="radio" name="Photos" id="Check1" checked>
    <input type="radio" name="Photos" id="Check2">
    <input type="radio" name="Photos" id="Check3">
    <input type="radio" name="Photos" id="Check4">

    <div class="container">
        <h1>Photo Gallery</h1>
        <div class="top-content">
            <h3>Photo Gallery</h3>
            <label for="Check1">All Photos</label>
            <label for="Check2">Celebrity Photos</label>
            <label for="Check3">Commercial Photos</label>
            <label for="Check4">Commision Photos</label>
        </div>
    

    <div class="photo-gallery">
        <div class="pic celebrity">
            <img src="images/celebrity 1.jpg" alt="">
        </div>
        <div class="pic commercial">
            <img src="images/commercial 1.jpg" alt="">
        </div>
        <div class="pic commision">
            <img src="images/commision 1.jpg" alt="">
        </div>

        <div class="pic celebrity">
            <img src="images/celebrity 2.jpg" alt="">
        </div>
        <div class="pic commercial">
            <img src="images/commercial 2.jpg" alt="">
        </div>
        <div class="pic commision">
            <img src="images/commision 2.jpg" alt="">
        </div>


        <div class="pic celebrity">
            <img src="images/celebrity 3.jpg" alt="">
        </div>
        <div class="pic commercial">
            <img src="images/commercial 3.jpg" alt="">
        </div>
        <div class="pic commision">
            <img src="images/commision 3.jpg" alt="">
        </div>

        <div class="pic celebrity">
            <img src="images/celebrity 4.jpg" alt="">
        </div>
        <div class="pic commercial">
            <img src="images/commercial 4.jpg" alt="">
        </div>
        <div class="pic commision">
            <img src="images/commision 4.jpg" alt="">
        </div>

        <div class="pic celebrity">
            <img src="images/celebrity 5.jpg" alt="">
        </div>
        <div class="pic commercial">
            <img src="images/commercial 5.jpg" alt="">
        </div>
        <div class="pic commision">
            <img src="images/commision 5.jpg" alt="">
        </div>

        <div class="pic celebrity">
            <img src="images/celebrity 6.jpg" alt="">
        </div>
        <div class="pic commercial">
            <img src="images/commercial 6.jpg" alt="">
        </div>
        <div class="pic commision">
            <img src="images/commision 6.jpg" alt="">
        </div>

        <div class="pic celebrity">
            <img src="images/celebrity 7.jpg" alt="">
        </div>
        <div class="pic commercial">
            <img src="images/commercial 7.jpg" alt="">
        </div>
        <div class="pic commision">
            <img src="images/commision 7.jpg" alt="">
        </div>

        <div class="pic celebrity">
            <img src="images/celebrity 8.jpg" alt="">
        </div>
        <div class="pic commercial">
            <img src="images/commercial 8.jpg" alt="">
        </div>
        <div class="pic commision">
            <img src="images/commision 8.jpg" alt="">
        </div>

        <div class="pic celebrity">
            <img src="images/celebrity 9.jpg" alt="">
        </div>
        <div class="pic commercial">
            <img src="images/commercial 9.jpg" alt="">
        </div>
        <div class="pic commision">
            <img src="images/commision 9.jpg" alt="">
        </div>

        <div class="pic celebrity">
            <img src="images/celebrity 10.jpg" alt="">
        </div>
        {{!-- <div class="pic commercial">
            <img src="images/commercial 9.jpg" alt="">
        </div> --}}
        <div class="pic commision">
            <img src="images/commision 10.jpg" alt="">
        </div>

        <div class="pic celebrity">
            <img src="images/celebrity 11.jpg" alt="">
        </div>
        {{!-- <div class="pic commercial">
            <img src="images/commercial 9.jpg" alt="">
        </div> --}}
        <div class="pic commision">
            <img src="images/commision 11.jpg" alt="">
        </div>

        <div class="pic celebrity">
            <img src="images/celebrity 12.jpg" alt="">
        </div>
        {{!-- <div class="pic commercial">
            <img src="images/commercial 9.jpg" alt="">
        </div> --}}
        <div class="pic commision">
            <img src="images/commision 12.jpg" alt="">
        </div>

        <div class="pic celebrity">
            <img src="images/celebrity 13.jpg" alt="">
        </div>
        {{!-- <div class="pic commercial">
            <img src="images/commercial 9.jpg" alt="">
        </div> --}}
        <div class="pic commision">
            <img src="images/commision 13.jpg" alt="">
        </div>

        {{!-- <div class="pic celebrity">
            <img src="images/celebrity 9.jpg" alt="">
        </div>
        <div class="pic commercial">
            <img src="images/commercial 9.jpg" alt="">
        </div> --}}
        <div class="pic commision">
            <img src="images/commision 14.jpg" alt="">
        </div>

        {{!-- <div class="pic celebrity">
            <img src="images/celebrity 9.jpg" alt="">
        </div>
        <div class="pic commercial">
            <img src="images/commercial 9.jpg" alt="">
        </div> --}}
        <div class="pic commision">
            <img src="images/commision 15.jpg" alt="">
        </div>

    </div>

    </div>

   

    <!-- -------------------------footer---------------------- -->
    <footer>
        <div class="footer-content">
            <h3>Connect With Us</h3>
            <p>“All you need to paint is a few tools, a little instruction, and a vision in your mind.”  - Bob Ross</p>
            <ul class="socials">
                <li><a href="#"><i class="fa fa-facebook" ></i></a></li>
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                <li><a href="#"><i class="fa fa-linkedin-square"></i></a></li>
            </ul>
        </div>
        <div class="footer-bottom">
            <p>copyright &copy; 2021 ArtistRK</p>
        </div>
    </footer>

</section>
    
</body>
</html>