<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>art gallary</title>
    <!-- <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.3/css/fontawesome.min.css"> -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Goblin+One&family=Playfair+Display:ital@1&display=swap"
        rel="stylesheet">
    <!-- <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.3/css/fontawesome.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js"> -->

    <script src="https://kit.fontawesome.com/yourcode.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:ital,wght@1,300&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Benne&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Cormorant:wght@300&display=swap" rel="stylesheet">


<link rel="stylesheet" href="css/style.css">
</head>
<!----------------------------------------------header 1st section-------------------------------------- -->

<body>

    <section class="header">
        <nav>
            <a href="/"><img src="images/logo.png" alt="artist_r_k_" style="border-radius: 20px;"> </a>
            <div class="nav-links" id="navlinks">
                {{!-- <i class="fa fa-times" onclick="hidemenu()"></i> --}}

                <ul>
                    <li><a href="./">HOME</a></li>
                    <li><a href="./about_us">About Us</a></li>
                    <li><a href="./contact">CONTACT US</a></li>
                    <li><a href="./gallery">MEDIA</a></li>
                </ul>
            </div>
            {{!-- <i class="fa fa-bars" onclick="showmenu()"></i> --}}

        </nav>
        <div class="text-box">
            <h1> RK Art Gallary</h1>
            <!-- <P>hello everyone Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum, recusandae velit quae
                rerum minima vitae Lorem, ipsum dolor si explicabo at <br> minima optio accusantium in voluptates
                impedit. Ratione,
                ea reprehenderit in impedit soluta temporibus!.</P> -->
            <a href="./gallery" class="btn"> visit to know more </a>
        </div>



    </section>





    <!-------------------------------------------- fixed ---------------------------------------------------->
          <section> 
        <div class="icon">
            <a href="#" class="facebook"> <i class="fab fa-facebook-f"></i> </a>
            <a href="https://www.instagram.com/artist_r_k_/" class="instagram"> <i class="fab fa-instagram"></i></a>
            <a href="#" class="twitter"> <i class="fab fa-twitter"></i> </a>
        </div>
    </section> 

    <!------------------------------------services 2nd section ----------------------------------------->

    <section class="services">
        <h1>
            Our Services
        </h1>
        <p>
            "Your trust makes us more powerful."
        </p>
        <div class="row">
            <div class="course">
                <h3>
                    Handmade Portrait
                </h3>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia molestias aliquid consequuntur
                    aliquam, error voluptatum a assumenda, magnam explicabo id totam ipsum inventore repudiandae
                    voluptas iure sapiente eaque asperiores magni?
                </p>
            </div>
            <div class="course">
                <h3>
                    Fast And Safe Delivery
                </h3>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia molestias aliquid consequuntur
                    aliquam, error voluptatum a assumenda, magnam explicabo id totam ipsum inventore repudiandae
                    voluptas iure sapiente eaque asperiores magni?
                </p>
            </div>
            <div class="course">
                <h3>
                    Commercial Artworks
                </h3>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia molestias aliquid consequuntur
                    aliquam, error voluptatum a assumenda, magnam explicabo id totam ipsum inventore repudiandae
                    voluptas iure sapiente eaque asperiores magni?
                </p>
            </div>

        </div>


    </section>
    <!-- ------------------------------------------- facility 3rd section ---------------------------------> 

    <section class="facilities">


        <h1> Why Us ?</h1>
        <p>
            "Our Top Priority is Only Quality."
        </p>
        <div class="row">
            <div class="facilities-col">
                <h3> High Quality Tools</h3>
                <img src="images/whyUsImage.jpeg" alt="">


               
            </div>



            <div class="facilities-col">
                <h3> Experience</h3>
                <img src="images/whyUsImage.jpeg" alt="">
                
            </div>



            <div class="facilities-col">
                <h3>100% Handmade </h3>
                <img src="images/whyUsImage.jpeg" alt="">
                
            </div>
        </div>





    </section>



    <!----------------------------------- testimonials-------------------------------- -->
    <section class="testimonial">
        <h1> Client Feedback</h1>
        <p> “Clear feedback is the cornerstone of improvement.”</p>

        <div class="row">
            <div class="testimonialcol">

                <img src="images/harryJonson.jpeg"
                    alt="">
                <div>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio non voimus repudiandae
                        explicabo c
                    </p>
                    <h3>Harry Johnson</h3>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
            </div>
            <div class="testimonialcol">

                <img src="images/emmaWatson.jpeg"
                    alt="">
                <div>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio non voimus repudiandae
                        explicabo c
                    </p>
                    <h3>Emma Watson</h3>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
            </div>
        </div>

    </section>


    <!-- --------------------footer contact---------------------------- -->
    <section class="contact">
        <h1> Place Your Order Here</h1>
        <a href="https://forms.gle/vcbhTeinXSLYJRZd6" class="btn">
            Click Here
        </a>

    </section>

    <!-- -------------------------footer---------------------- -->
    <section class="footer">
        <footer class="footer">
            <div class="container">
                <div class="row">
                    <div class="footer-col">
                        <h4>company</h4>
                        <ul>
                            <li><a href="#">about us</a></li>
                            <li><a href="#">our services</a></li>
                            <li><a href="#">privacy policy</a></li>
                            <li><a href="#">affiliate program</a></li>
                        </ul>
                    </div>
                    <div class="footer-col">
                        <h4>get help</h4>
                        <ul>
                            <li><a href="#">FAQ</a></li>
                            <li><a href="#">shipping</a></li>
                            <li><a href="#">returns</a></li>
                            <li><a href="#">order status</a></li>
                            <li><a href="#">payment options</a></li>
                        </ul>
                    </div>
                    <div class="footer-col">
                        <h4>online shop</h4>
                        <ul>
                            <li><a href="#">portrait</a></li>
                            <li><a href="#">commercial art</a></li>
                            <li><a href="#">frames</a></li>
                            <li><a href="#">realistic sketch</a></li>
                        </ul>
                    </div>
                    <div class="footer-col">
                        <h4>follow us</h4>
                        <div class="social-links">
                            <a href="#"><i class="fab fa-facebook-f"></i></a>
                            <a href="#"><i class="fab fa-twitter"></i></a>
                            <a href="#"><i class="fab fa-instagram"></i></a>
                            <a href="#"><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                  
            </div>
        </footer>
    </section>
    <!---------------------------------------------java script---------------------------------------------- -->

    {{!-- <script>
        var navlinks = document.getElementById("navlinks");

        function showmenu() {
            navlinks.style.right = "0";
        }
        function hidemenu() {
            navlinks.style.right = "-200px";
        }
    </script> --}}

</body>

</html>
